.container {
  padding: 24px;
}

h1 {
  font-size: 64px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 32px;

  color: #ffde00;

  -webkit-text-stroke: 3px #3b4cca;

  text-shadow:
    0 4px 0 #2a3699,
    0 8px 16px rgba(0, 0, 0, 0.25);

  letter-spacing: 4px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
}

.card {
  background: #ffffff;
  border-radius: 18px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.pokemon-number {
  position: absolute;
  top: 12px;
  left: 12px;

  font-size: 14px;
  font-weight: bold;

  background: #ef5350;
  color: white;

  padding: 6px 10px;
  border-radius: 999px;
}
.card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.card span {
  font-weight: 700;
}

.types {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

.types span {
  background: #eeeeee;
  border-radius: 999px;
  padding: 4px 10px;
  font-size: 12px;
}

.details-button {
  border: 1px solid #444;
  background: #e94747;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}

.pagination-button {
  border: none;
  background: #4e82ca;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.pagination-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}