<section class="detail-page" *ngIf="pokemon">

  <button class="back-button" (click)="goBack()">
    ← Voltar
  </button>

  <article class="detail-card">

    <span class="pokemon-number">
      #{{ pokemon.id }}
    </span>

    <h1>
      {{ pokemon.name | titlecase }}
    </h1>

    <img
      [src]="pokemon.sprites.front_default"
      [alt]="pokemon.name"
    />

    <div class="types">
      <span *ngFor="let type of pokemon.types">
        {{ type.type.name }}
      </span>
    </div>

    <div class="info">
      <p>
        <strong>Altura:</strong> {{ pokemon.height }}
      </p>

      <p>
        <strong>Peso:</strong> {{ pokemon.weight }}
      </p>
    </div>

  </article>

</section>